<div class="column is-three-quarters">
  <% if user_signed_in? %>
<div class="box">
		  	<article class="media">
  		<div class="media-content">
  			<div class="content">
  				<strong>Правила игр</strong><br />
  				<p>Скраббл</p>
  				<p>Необходимо за заданное время(30 секунд) из предложенных букв составить слово.</p>
  				<p>Карточки</p>
  				<p>В начале игры все карты перевернуты, игроку необходимо найти среди них парные картинки. Одновременно могут быть перевернуты только 2 карточки. Если изображения не совпадает, карточки снова переворачиваются, и игрок снова угадывает.</p>
  				<p>Скоростная печать</p>
  				<p>Игроку необходимо напечатать представленный на экране текст с максимально возможной скоростью. Под текстом игрок может видет свою статистику, а именно количество ошибок и количество знаков в минуту.</p>
				<p>Угадай слово</p>
  				<p>По предложенной подсказке игроку предстоит угадать по букве заданое слово. Количество попыток ограничено. </p>
				<p>Скорочтение</p>
  				<p>Игроку представлен текст и вопрос по его содержимому. В течение заданного времени игроку нужно найти ответ в тексте.</p>
				<p>Игра в слова</p>
  				<p>Игроку предстоит угадать слово из 5 букв за ограниченное количество попыток. Если в предложенном игроком варианте есть буква из загаданного слова, то она подсвечивается определенным цветом (если игрок угадал позицию буквы-зеленым, если нет-желтым).</p>
				<p>Быстрые вычисления</p>
				<p>Игроку необходимо быстро выполнять базовые арифметические действия.</p>
			
  			</div>
  		</div>
  	</article>
  </div>
	  <% else%> 
	  	  	 <div class="box">
		  	<article class="media">
	  <div class='content'>
	  <div class='registration' >
	  
	  </div>
           <h2>Программа развития мыслительных навыков Brain_power</h2>
		   <p>Каждый день мы сталкиваемся с множеством задач, решение которых требует от нас способности к логическому мышлению. Логика как умение думать и рассуждать последовательно и непротиворечиво, требуется во многих жизненных ситуациях. Кроме того, в наши дни все чаще обращается внимание на общий склад ума человека, на его умение быстро обрабатывать большие объемы информации, на скорость его реакций и т.д.</p>
		   <p>Наша программа предоставляет пользователю возможность развития мыслительных навыков, а именно логики, памяти, и также помогает улучшать такие важные навыки,  как скорочтение, слепая печать. Процесс обучения реализован в форме 7 мини-игр.</p>
		   <p>Данный сайт рекомендован для людей старше 12 лет. Для более высокого эффекта от тренировок рекомендуется исключить все отвлекающие факторы и сконцентрироваться на выполнении заданий. </p>
			</div>
			</div>
			</article>
			</div>
  <% end %>
		 
</div>