<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading"><%= t('Профиль')%></p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
<%= image_tag "profile.jpg"%> 					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= current_user.email %></strong><br />
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
					  <a href="/scribble/index"><p>Скраббл</p>  
					  <a href="/memory_cards/index"><p>Карточки</p>  
					  <a href="/speed_writing/index"><p>Скоростная печать</p>  
					  <a href="/word_guessing/index"><p>Угадай слово</p>  
					  <a href="/wordle/index"><p>Игра в слова</p>  
					  <a href="/math/index"><p>Быстрые вычисления</p>  
					  <a href="/speed_reading/index"><p>Скорочтение</p>  
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>